/* Animations */
.animate-cursor {
    animation: cursor 1s infinite step-end;
}

.animate-type {
    animation: type 1.8s ease-out 0.8s infinite alternate both;
}

@keyframes cursor {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes type {
    0% {
        width: 0;
    }

    5%,
    10% {
        width: 1ch;
    }

    15%,
    20% {
        width: 2ch;
    }

    25%,
    30% {
        width: 3ch;
    }

    35%,
    40% {
        width: 4ch;
    }

    45%,
    50% {
        width: 5ch;
    }

    55%,
    60% {
        width: 6ch;
    }

    65%,
    70% {
        width: 7ch;
    }

    75%,
    80% {
        width: 8ch;
    }

    85%,
    90% {
        width: 9ch;
    }

    95% {
        width: 10ch;
    }
}

/* Floating blob animation */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}